@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.list {
  padding: 0rem 1rem 1rem 1rem;

  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding-left: 8.5rem;
    padding-right: 0;
  }
}
