@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $mercury;

  &:last-child {
    border-bottom: 1px solid $mercury;
  }

  &__top-container {
    display: flex;
  }

  &__photo {
    margin-top: 1rem;
    height: 11.25vw;
    width: 11.25vw;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: $mercury;

    @include tablet {
      height: 6.25vw;
      width: 6.25vw;
    }
    @include desktop {
      height: 3.75vw;
      width: 3.75vw;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75rem;
    flex-grow: 1;
    text-align: right;
    color: $silver;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__text-container {
    margin-left: 3.25rem;
    margin-top: -0.25rem;

    @include tablet {
      margin-left: 4rem;
      margin-top: -1rem;
    }
  }

  &__text {
    @include mobile-sub-section-body;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
    @include desktop {
      font-size: 0.8425rem;
    }
  }
}
