@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  padding: 1rem;

  @include tablet {
    padding: 1.5rem 2.25rem 0rem 2.25rem;
  }

  &__heading {
    @include mobile-sub-section-body;
    padding-bottom: 1rem;

    @include tablet {
      @include desktop-tablet-subheader-body;
    }
  }

  &__container {
    display: flex;
  }

  &__avatar {
    border-radius: 50%;
    margin-top: 1.5rem;
    width: 11.25vw;
    height: 11.25vw;
    margin-right: 1rem;

    @include tablet {
      width: 5.208vw;
      height: 5.208vw;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100vw;

    @include tablet {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__form-container {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__name {
    padding-bottom: 0.25rem;
    color: $silver;
    @include mobile-sub-section-body;

    @include tablet {
      @include desktop-tablet-labels;
    }
  }

  &__comment-area {
    height: 31.563vw;
    resize: none;
    padding: 0.75rem;
    border: 1px solid $mercury;
    border-radius: 0.25rem;
    width: 73.75vw;

    @include tablet {
      height: 5.208vw;
      width: 62vw;
      margin-right: 1rem;
    }

    &::placeholder {
      color: $brainflix-dark-black;
      @include desktop-tablet-labels;
    }

    &:focus {
      outline: none;
      border: 2px solid $brainflix-dark-blue;
    }
  }

  &__submit {
    margin-top: 1rem;
    height: 12.5vw;
    border-color: transparent;
    border-radius: 4px;
    color: $white;
    background-color: $brainflix-blue;
    background-image: url(../../assets/images/add_comment.svg);
    background-repeat: no-repeat;
    background-position: center left 0.75rem;
    background-size: 2vw;

    @include tablet {
      height: 5.208vw;
      width: 19vw;
      margin-top: 0;
      @include desktop-tablet-labels;
    }
  }
}
