@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__video {
    width: 100vw;
    height: 81vw;
    margin-top: 1rem;
  }
}
